.max-hight-card {
    min-height: 200px;
    padding: 20px;
}

.modal-header {
    border: none !important;
}

.win {
    background-color: lightgreen !important;
}

.loss {
    background-color: lightsalmon !important;
}

.unknown {
    background-color: lightgray !important;
}